@import "./src/assets/styles/constants";

.header {
  &-block {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    align-items: center;
    height: 190px;
    min-height: 190px;
    width: 100%;
    background: $col1;
  }

  &-icon {
    margin-left: 25px;
    position: relative;
    width: 412px;
    height: 156px;
    cursor: pointer;

    &__text {
      font-family: 'MedievalSharp';
      font-style: normal;
      font-weight: 500;
      font-size: 60px;
      line-height: 68px;
      display: flex;
      align-items: center;
      text-align: center;
      background: $linear2;
      position: absolute;
      width: 283px;
      height: 80px;
      left: 131px;
      top: 0;
      cursor: pointer;
      @include text-linear-background;
    }

    &__img {
      position: absolute;
      left: 0;
      top: 24px;
      cursor: pointer;
      
      & svg {
        cursor: pointer;

        & path {
          cursor: pointer;
        }
      }
    }
  }

  &-nav {
    display: flex;
    margin-right: 150px;

    &__item {
      margin: 0 10px;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;

      &-icon {
        transform: translate(0, 3px);
        transition: ease-in-out .3s;
      }

      &-text {
        font-family: 'Pirata One';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 41px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $col5;
        margin-left: 5px;
        cursor: pointer;
      }

      &-dropdown {
        pointer-events: none;
        opacity: 0;
        top: 0;
        left: 0;
        position: absolute;
        transition: opacity 1s ease-in-out;
        transform: translate(10px, 50px);

        &.drop-left {
          transform: translate(-90%, 50px);
        }
      }

      &.active {
        & .header-nav__item-dropdown {
          pointer-events: all;
          opacity: 1;
          top: 0;
          left: 0;
          transform: translate(10px, 50px);

          &.drop-left {
            transform: translate(-90%, 50px);
          }
        }

        & .header-nav__item-icon {
          transform: translate(0, 3px) rotate(180deg);
        }
      }
    }
  }

  &-singIn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;

    &__text {
      font-family: 'Pirata One';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 41px;
      display: flex;
      align-items: center;
      text-align: center;
      color: $col5;
      margin-left: 6px;
    }

    &__icon {

    }


  }

  &-disabled {
    display: none;
  }

  &-classes {
    display: block;
    position: absolute;
  }
}