@import "./src/assets/styles/constants";

.dropdown-item {
  margin: 4px;
  display: flex;
  cursor: pointer;
  text-decoration: none;

  &:hover .dropdown-item__text {
    color: #FFFFFF;
  }

  &__text {
    font-family: 'Pirata One';
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    white-space: nowrap;
    text-decoration: none;

    display: flex;
    align-items: center;
    text-align: center;

    color: #bbbbbb;
  }

  &__icon {
    margin-right: 18px;
    height: 55px;
    width: 55px;
    cursor: pointer;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;

    & img {
      max-height: 55px;
      max-width: 55px;
      cursor: pointer;
    }

    & svg path {
      fill: $col8;
      cursor: pointer;
    }
  }
}