@import "./src/assets/styles/constants";

.dropdown-item {
  margin: 4px;
  display: flex;

  &__text {
    font-family: 'Pirata One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    white-space: nowrap;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }

  &__icon {
    margin-right: 18px;
    height: 55px;
    width: 55px;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;

    & img {
      max-height: 55px;
      max-width: 55px;
    }

    & svg path {
      fill: $col8;
    }
  }
}