@import "./src/assets/styles/constants";

.main-item {
  width: 370px;
  height: 370px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'UnifrakturCook';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    background: $linear1;

    @include text-linear-background;
  }
}