.dashboard-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px;
  width: 100%;
  height: fit-content;

  cursor: pointer;

  & svg {
    cursor: pointer;

    & path {
      cursor: pointer ;

      &:hover {
        filter: drop-shadow(1px 1px 2px rgb(208, 110, 11));
      }
    }
  }

  & .main-item {
    &:nth-child(1) .main-item__text{
      transform: translate(-40%, -50%);

      &:hover > path {
        filter: drop-shadow(3px 5px 2px rgb(0, 255, 209));
      }
    }

    &:nth-child(3) .main-item__text{
      transform: translate(-60%, -30%);
    }
  }
}