* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  width: 100%;
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@font-face {
  font-family: UnifrakturCook;
  src: url(UnifrakturCook.ttf);
}